@import url(/css/style.css);

header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: .5rem 5%;
    border-bottom: 1rem solid transparent;
    transition: all .45s ease;
}

.logo img{
    cursor: pointer;
    width: 120px;
    height: auto;
    margin-top: 1rem;
}

.navlist ul{
    display: flex;
}

.navlist a{
    color: var(--color-fuente);
    font-weight: 500;
    margin: 0 .5rem;
    transition: all .45s ease;
    font-size: 1.2rem;
}

.navlist a:hover{
    color: var(--color-menu);
}

.navlist a.active{
    color: var(--color-menu);
}


.boton{
    border: 2rem;
    background-color: var( --segundo-fondo);
    padding: .5rem 1rem;
    border-radius: 1rem;
}

#menu-icon{
    font-size: 1.5rem;
    color: var(--color-fuente);
    z-index: 10001;
    cursor: pointer;
    margin-left: 1.2rem;
    display: none;

}

header.sobremi{
    background: var(--color-fondo);
    border-bottom: .0625rem solid var(--color-fondo);
    padding: .75rem 5%;
}