@import url(/css/style.css);

.inicio {
    padding: 10rem 15% 7.5rem;
    position: relative;
    height: 100vh;
    background-image: url(../img/banner2.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10rem;

}

.slider{
    margin-bottom: .25rem;
}

.uno{
    display: inline-block;
    margin-right: .9375rem;
    height: 2rem;
    padding: 0 .9375rem;
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: .3125rem;
    background: var(--color-principal);

}

.dos{
    display: inline-block;
    color: var(-color-fuente);
    font-size: 1.25rem;
    font-weight: 500;
}

.texto__inicio h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 0.5rem;
}

.texto__inicio h3{
    margin: 0 0  2.188rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 1rem;
}

.texto__inicio p{
    color: var(--segunda-fuente);
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    text-align: justify;
    letter-spacing: -0.125px; 
}

.botones__perfil{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    align-items: center;
    padding: 0.75rem 1.75rem;
    border-radius: .3125rem;
    color: var(--color-fuente);
    background: var(--color-principal);
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    transition: all .45 ease;
}

.btn:hover{
    transform: scale(0.9);
}

.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: .9375rem;
    margin-left: 2.1875rem;
    padding: 0.75rem 1.75rem;
    border-radius: .3125rem;
    color: var(--color-fondo);
    background: var(--color-fuente);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    transition: all .45 ease;  
}

.btn2 i{
    width: 1.4rem;
}


.btn2:hover{
    transform: scale(0.9);
}
