@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital@1&family=Rubik:wght@400;500;700&display=swap');

*{
    
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

 
  

}

:root{

    --color-fondo: #2a2a2a;
    --segundo-fondo: #202020;
    --color-fuente: #ffffff;
    --segunda-fuente: #cccccccc;
    --color-principal: #165cc5;
    --color-menu: #0066ff;
}


body{
    background: var(--color-fondo);
    color: var(--color-fuente);

}
