*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 4rem;
}

:root{
    --color-fondo: #000;
    --color-fuente: #fff;
    --segundo-fondo: #165cc5;
    --fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--color-fondo);
    font-family: var(--fuente);
    color: var(--color-fuente);
    height: 100vh;
    max-width: 100vw;
}

.container{
    padding: 12rem;
}

@media screen and (max-width: 992px) {

    .container{
        padding: 0 2rem;
    }
   
}